@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit",sans-serif;
}
body, html {
  overflow-x: hidden;
  width: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
@layer base {
  button{
    @apply cursor-pointer;
  }
}